# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
gradle-app.setting
.gradletasknamecache
**/build/

# Keystore
*.jks
*.keystore

